<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ role.roleName }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ role.roleName }}</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        {% if role %}
            <section id="specification" class="mt-4">
                <h2>
                    Job Specification
                </h2>
                {{ role.specification }}
            </section>
            <section id="sharepointLink" class="mt-4">
                <h2>
                    Sharepoint
                </h2>
                <a href="{{ role.sharepointLink }}">Sharepoint Link</a>
            </section>
        {% else %}
            could not find role
        {% endif %}
    </main>
</body>
</html>