<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Roles</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="bandRoles" class="mt-4">
            <h2>Kainos Job Roles</h2>
            {% if bandRoles and bandRoles.length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Role Name</th>
                        <th scope="col">Capability</th>
                        <th scope="col">Specification</th>
                        <th scope="col">Capability</th>
                        <th scope="col">Responsibilities</th>
                        <th scope="col">Sharepoint Link</th>
                        <th scope="col">Role Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bandRole in bandRoles %}
                    <tr>
                        <td><a href="job-role-spec/{{ bandRole.roleName }}">{{bandRole.roleName}}</a></td>
                        <td>{{bandRole.capabilityName}}</td>
                        <td>{{bandRole.specification}}</td>
                        <td>{{bandRole.responsibilities}}</td>
                        <td> <button type="button" class="btn btn-primary btn-sm" href="bandRole.sharepointLink" style="padding: 2px;">Sharepoint</td>
                        <td>{{bandRole.bandLevel}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                There are no roles
            {% endif %}
        </section>
    </main>
</body>
</html>