body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-color: ffff;
}

.banner-pic{
    background-image: url('../images/banner.jpeg');
}

.pad-register-btn {
    translate: 10px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #283583;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, 	#283583, #41679f, #009fe3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #283583, #41679f, #009fe3);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.banner {
    height: 425px;
    width: 100%;
}
